<p>Xin Chào {{email}},</p>
<p>nhập OTP bên dưới để đặt lại mật khẩu</p>
<p>
  <strong>{{otp}}</strong>
</p>

<p>Lưu ý mã OTP chỉ có hiệu lực trong 15p, nếu hết hạn, bạn vui lòng yêu cầu đặt lại mật khẩu 1 lần nữa</p>
<p>Xin cảm ơn !</p>